.efectivo-container {
    --background: url('/assets/imagenfondo1.png') no-repeat center center / cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
  }
  
  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
  }
  
  img {
    width: 1000px;
    height: auto;
  }
  
  .form-container {
    width: 90%;
    max-width: 400px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .efectivo-title {
    font-size: 24px;
    font-weight: bold;
    color: #000;
    margin-bottom: 20px;
  }
  
  .efectivo-item {
    text-align: left;
    margin: 10px 0;
    padding-left: 30px;
  }
  
  .efectivo-item label {
    color: #000;
  }
  
  .efectivo-item ion-input {
    margin: 5px 0 0;
    color: #6e6e6e;
  }
  
  .continue-button {
    --background: #a5c3b5;
    color: #000;
    border-radius: 20px;
    margin-top: 20px;
  }
