.transferencia2-container {
    --background: url('/assets/imagenfondo1.png') no-repeat center center / cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
  }
  
  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
  }
  
  img {
    width: 1000px;
    height: auto;
  }
  
  .form-container {
    width: 90%;
    max-width: 400px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .transferencia2-title {
    font-size: 24px;
    font-weight: bold;
    color: #000;
    margin-bottom: 20px;
  }
  
  .imagen-preview {
    margin-top: 10px;
    text-align: center;
  
    img {
      max-width: 100%;
      border: 1px solid #ccc;
      border-radius: 10px;
    }
  }
  
  .confirm-button {
    --background: #a5c3b5;
    color: #000;
    border-radius: 20px;
    margin-top: 20px;
  }