<ion-content>
  <div class="header">
    <h1>Menú RappiFET</h1>
  </div>

  <ion-searchbar [debounce]="1000" (ionInput)="handleInput($event)"></ion-searchbar>

  <div class="categories">
    <app-category-item *ngFor="let item of filteredCategories" [item]="item"></app-category-item>
  </div>

  <h1 class="list-header">Produtos Disponibles</h1>

  <div class="food-list">
    <app-food-card *ngFor="let food of filteredFoods" [item]="food" (clicked)="goToDetailPage(food.id)"></app-food-card>
  </div>
</ion-content>
