.pedido-container {
    --background: url('/assets/imagenfondo1.png') no-repeat center center / cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
  }
  
  .message-container {
    width: 90%;
    max-width: 400px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .message-container h2 {
    font-size: 24px;
    font-weight: bold;
    color: #000;
    margin-bottom: 20px;
  }
  
  .message-container p {
    font-size: 18px;
    color: #6e6e6e;
    margin-bottom: 20px;
  }
  
  .back-button {
    --background: #a5c3b5;
    color: #000;
    border-radius: 20px;
  }