<ion-content>
  <div class="header">
    <ion-buttons slot="start">
      <ion-button routerLink="/index">
        <ion-icon slot="icon-only" color="light" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </div>

  <div class="card">
    <div class="image">
      <ion-img [src]="food?.imagen"></ion-img>
    </div>

    <div class="card-content">
      <div class="card-title">
        <h1 class="ion-no-margin">{{food?.titulo}}</h1>
        <p class="ion-no-margin" *ngIf="food?.precio">
          <sup>$ </sup>{{food!.precio | number: '1.0-0'}}
        </p>
      </div>

      <div class="additional-content">
      
        <div class="about">
          <h1>Acerca de...</h1>
          <p>{{food?.descripcion}}</p>
        </div>
      </div>
      <app-button (click)="addItemToCart()">Añadir al carrito</app-button>    
    </div>
  </div>
</ion-content>