<div class="cart-item">
  <div class="image">
    <ion-img [src]="item.imagen"></ion-img>
  </div>

  <div class="description">
    <h3>{{item.nombre}}</h3>
    <p><sup>$</sup>{{item.precio | number: '1.0'}}</p>
  </div>

  <div class="actions">
    <ion-button (click)="increase.emit()" fill="clear">
      <ion-icon slot="icon-only" name="add-outline"></ion-icon>
    </ion-button>
    <div class="counter">{{item.cantidad}}</div>
    <ion-button (click)="decrease.emit()" fill="clear">
      <ion-icon slot="icon-only" name="remove-outline"></ion-icon>
    </ion-button>
  </div>
</div>


